* {
	padding: 0;
	margin: 0;
}

input {
	min-width: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

#app {
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
	font-size: 14px;
}

.routerView {
	//overflow: auto;
}

.inRouterView {
	flex: 1;
	overflow: auto;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.shadowBox {
	background-color: #fff;
	padding: 15px;
	border-radius: 2px;
	box-shadow: 0 2px 8px rgba($color: rgb(153, 153, 153), $alpha: .1);
}


// el table 样式处理
.el-table {
	display: flex;
	flex-direction: column;
}

.el-table__body-wrapper {
	flex: 1;
	height: 0 !important;
}

.table_flex {
	flex: 1;
}
// 由js动态生成的元素标签，然后在body标签最后追加的一个元素，已经脱离了Cate.vue的管理，给cascader设置超出高度
.el-cascader-panel {
	height: 300px;
}