.app-container {
  @mixin clearfix {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  @mixin scrollBar {
    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }

  @mixin relative {
    position: relative;
    width: 100%;
    height: 100%;
  }

  @mixin pct($pct) {
    width: #{$pct};
    position: relative;
    margin: 0 auto;
  }

  @mixin triangle($width, $height, $color, $direction) {
    $width: $width/2;
    $color-border-style: $height solid $color;
    $transparent-border-style: $width solid transparent;
    height: 0;
    width: 0;

    @if $direction==up {
      border-bottom: $color-border-style;
      border-left: $transparent-border-style;
      border-right: $transparent-border-style;
    }

    @else if $direction==right {
      border-left: $color-border-style;
      border-top: $transparent-border-style;
      border-bottom: $transparent-border-style;
    }

    @else if $direction==down {
      border-top: $color-border-style;
      border-left: $transparent-border-style;
      border-right: $transparent-border-style;
    }

    @else if $direction==left {
      border-right: $color-border-style;
      border-top: $transparent-border-style;
      border-bottom: $transparent-border-style;
    }
  }

  @include clearfix;
  position: relative;
  padding: 3px;
  padding-bottom: 0;

  #app-main{
    // max-height: 600px !important;
  }
  // 头部
  header {
    background: #fff;
    margin: 10px !important;
    padding: 10px 20px ;
    border-radius: 5px;
    margin-bottom: 5px;
    border: none !important;

    // form版面
    .header-form-inline {
      position: relative;
      padding: 3px 10px;

      .el-form-item, .el-row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100% !important;
        margin: 0 !important;
        .el-form-item-more {
          display: flex;
          margin-top: 2px;
          height: 27px;

          .el-form-item-more-left {
            width: 96px;

            .el-input--small .el-input__inner {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
          }

          .el-form-item-more-right {
            flex: 1;

            .el-input--small .el-input__inner {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
          }

          .el-input--small .el-input__inner,
          .el-input--small .el-input__icon {
            height: 24px;
            line-height: 24px;
            padding: 0 6px;
            font-size: 12px;
          }
        }

        .more-query {
          display: inline-block;
          margin-top: 8px;
          color: #3e6db5;
          cursor: pointer;
        }
        .el-col{
            height: 30px;
            margin: 10px 0 ;
            .el-form-item__label{
                width: auto;
                height: 30px ;
                min-width: 70px !important;
                text-align: right ;
                display: block;
                line-height: 30px ;
                color: #262626;
                font-weight: 500;
                font-size: 14px;
            }
            .el-form-item__content{
                width: 300px ;
            }
            .el-form-item__content,.input-validate,.el-input,input{
                height: 30px ;
                .el-input__inner{
                    height: 30px ;
                }
                .el-input__suffix{
                    transform: translate(0,10%) ;
                }
            }
            input{
                text-align: left ;
            }
        .el-radio-group{
            height: 30px ;
            padding-bottom: 8px ;
        }
        }
        .el-col-11{
            width: 46% ;
            margin: 0 ;
        }
        .el-col-2{
            margin: 0 ;
            width: 8% ;
        }
        .none{
            width: 10px ;
            height: 30px ;
            padding: 0 ;
            margin: 5px ;
        }
    }
        .el-button--small {
          font-size: 12px;
          border-radius: 3px;
          padding: 5px 9px ;
          float: right;
        }

      .expand {
        position: absolute;
        right: 30px;
        bottom: -30px;
        width: 30px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        background: #ffffff;
        // border-bottom: 1px solid #ababab;
        cursor: pointer;
        z-index: 99;

        &:before {
          content: '';
          display: block;
          width: 26px;
          height: 20px;
          position: absolute;
          transform: skewX(30deg);
          background: #ffffff;
          border-bottom-left-radius: 8px;
          left: -20px;
          top: 0;
          // border-left: 1px solid #ababab;
          // border-bottom: 1px solid #ababab;
          cursor: pointer;
        }

        &:after {
          content: '';
          display: block;
          width: 26px;
          height: 20px;
          position: absolute;
          transform: skewX(-30deg);
          background: #ffffff;
          border-bottom-right-radius: 8px;
          top: 0;
          right: -20px;
          // border-right: 1px solid #ababab;
          // border-bottom: 1px solid #ababab;
          cursor: pointer;
        }

        i {
          cursor: pointer;
        }
      }
    }
  }
 // 按钮
 .button-group{
  position: absolute;
  top: auto ;
  right: 20px ;
  bottom: 10px ;
  height: 32px;
  .button-group-item{
    float: left !important;
    margin: 0 10px !important;
    position: static !important;
  .fold{
    font-size: 14px !important;
  }
  .jt{
    position: absolute;
    right: 0;
    top: 50%;
    width: 8px;
    height: 8px;
    border: 1px solid transparent;
    border-left: 1px solid #1890ff;
    border-bottom: 1px solid #1890ff;
    transform: translate(0,-70%) rotate(-45deg);
  }
  .t{
    transform: translate(0,-30%) rotate(135deg);
  }
  }
  button{
      height: 32px;
      padding: 8px 15px !important;
  }
}
.button-group :last-child{
  margin-right: 0 !important;
}
  // 表格的样式
  main {
    background: #fff;
    margin: 10px ;
    // margin-top: 30px;
    padding: 10px 20px ;
    border-radius: 5px;
    margin-bottom: 5px;
    // height: 400px !important;
    .top-operate {
      position: relative;
      width: calc(100% - 83px);
      height: 68px !important;
      line-height: 68px !important;
      z-index: 99;
      margin-bottom: 3px;
      overflow-x: auto;
      border-bottom: 1px solid #e8e8e8;

      &::-webkit-scrollbar {
        display: none;
        /* Chrome Safari */
      }

      .el-row {
        position: absolute;
        transition: transform .3s;

        div {
          // flex-shrink: 0;
          .el-button {
            // height: 32x;
            padding: 6px 10px;
          }

          .el-button+.el-button {
            margin-left: -2px;
          }
        }
      }
    }
    .alert-total{
      height: 40px;
      line-height: 40px;
    }
    .bottom-operate {
      background: #fff;
      height: 36px;
      line-height: 36px;
      border: none !important;
      border-top: none;
      border-radius: 0 0 5px 5px;

      .bottom-operate-left {
        float: left;
        color: #606266;
        margin-left: 8px !important;
      }

      .bottom-operate-right {
        float: right;
        font-size: 12px;
        color: #606266;
        margin-right: 5px;
      }
    }

    .tabs-operate {
      margin-top: 5px;

      .el-button--mini {
        padding: 6px 9px;
      }
    }
    .el-table {
      margin-top: 3px;
      min-height: 300px !important;
      // max-height: 500px !important;
      border: none !important;
      .el-table__header{
        width: 100% !important;
        border-bottom: 1px solid #e8e8e8 !important;
      }
      th,td{
        border: none !important;
        text-align: center !important;
        color: #6b6b6b !important;
        font-size: 14px !important;
        .el-tooltip{
          width: 100% !important;
        }
      }
      th{
        color: #252525 !important;
        height: 50px;
      }
      .gutter{
        display: block !important;
      }
      tr{
        height: 40px !important;
        border-bottom: 1px solid #e8e8e8 !important;
      }
      .el-table__header-wrapper,.has-gutter{
        width: 100% !important;
      }
      .el-table__virtual-wrapper{
        width: 100% !important;
      }
    }

    .bs_echarts {
      width: 100%;
      min-height: 500px;
      margin: 0 auto 5px;
      background: #ffffff;
      border: 1px solid #ababab;
      border-radius: 5px;
    }

    .el-tabs {
      margin-bottom: 5px;
    }
  }

  &.edit-page-style {
    padding-bottom: 22px;

    &>.top-operate {
      // position: fixed;
      width: 100%;
      background: var(--contentBg);
      padding: 3px 0;
      z-index: 99;
      margin: -3px 0 3px 0;

      .el-button {
        padding: 6px 10px;
      }

      .el-button+.el-button {
        margin-left: -2px;
      }

      &+header {
        margin-top: 30px;
      }
    }

    &>.top-steps {
      width: 100%;
      background: var(--contentBg);
      padding: 3px 0;
      z-index: 99;
      margin: 30px 0 3px 0;
    }

    &>header {
      border-radius: 0;

      // form头部
      .form-title {
        width: 100%;
        height: 24px;
        line-height: 24px;
        border-bottom: 1px solid #ababab;
        font-size: 14px;
        color: #666666;
        font-weight: 900;
        background-color: #f5f7fa;

        i {
          float: right;
          margin: 5px;
          cursor: pointer;
        }

        &::before {
          display: inline-block;
          vertical-align: top;
          content: '';
          width: 2px;
          height: 100%;
          margin-right: 7px;
        }
      }

      // 表格内容
      .edit-header-table {
        padding: 0 5px 5px;

        .tabs-operate {
          margin-top: 5px;

          .el-button--mini {
            padding: 6px 9px;
          }
        }

        .el-table {
          margin-top: 3px;
          border: 1px solid;
        }
      }
    }
  }
}